.class-management {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    height: 100vh;
}

.new-exam-btn {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin-bottom: 20px;
}

.new-exam-btn:hover {
    background-color: #45a049;
}

/* table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead th {
    padding: 10px;
    background-color: #45a049;
    border-bottom: 1px solid #ddd;
}

tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
} */

.export-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.export-btn:hover {
    background-color: #45a049;
}

.grade-cell {
            color: white;
            padding: 10px;
            text-align: center;
        }

.grade-85 { background-color: #4caf50; } /* 85% */
.grade-89 { background-color: #3e8e41; } /* 89% */
.grade-75 { background-color: #66bb6a; } /* 75% */
.grade-67 { background-color: #a5d6a7; } /* 67% */ /*will integrate with backend later*/
.grade-55 { background-color: #ff7043; } /* 55% */
.grade-34 { background-color: #ff5252; } /* 34% */