.upload-area {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .file-preview {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .file-preview p {
    margin: 0;
  }
  
  .remove-file {
    cursor: pointer;
  }
  
  .csv-preview {
    margin-top: 20px;
  }
  
  /* table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
  } */
  
  .csv-preview {
    margin-top: 20px;
  }
  
  .csv-preview table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .csv-preview th,
  .csv-preview td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .csv-preview th {
    background-color: #f2f2f2;
  }
  